
/* 공통 */

textarea:focus, input:focus, button:focus,button:active{
    outline: none !important;
    box-shadow: none !important;
}


/* 클래스 등록하기 버튼 관련 */


#pageHeader{
	position : relative;
}

#pageHeader a{
	text-decoration: none;
	color : black;
}

#toWrite{
	position : absolute;
	right : 5px;
	bottom : 20px;
}

#toWriteBtn{
	background-color : #FFBD24;
	border:0;
	border-radius : 10px;
	color : white;
	font-size : 14px;
	padding : 8px;
	padding-left : 13px;
	padding-right : 13px; 
}

#toWriteBtn:hover{
	background-color : #ffb200;
}





/* 네비 관련 */

.container{
    position: relative;
}

#v-pills-tab{
    position: sticky;
    top: 100px;
    background-color: white;
    z-index: 5;
}

#v-pills-tab button{
    padding: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: 45px;
}

#v-pills-tab img{
    width: 35px;
}

#v-pills-tab2{
    width: 100%;
    position: sticky;
    top: 56px;
    background-color: white;
    z-index: 5;
}

#v-pills-tab2 li{
    display: block;
    width: 20%;
    height: 100%;
    padding:0;
    flex-basis: unset;
    flex-grow: unset;
}

#v-pills-tab2 a{
    text-decoration : none;
}

#v-pills-tab2 button{
    text-align: center;
    font-size: 6px;
    color : black;   
    border-radius:0px;
    background-color:white;
}

#v-pills-tab2 .active{
	border:0px;
	border-bottom: 4px solid #9381ff;
}

#v-pills-tab2 img{
    width: 100%;
}



/* 검색바 관련 */

.searchBar{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right:40px;
}

#search{
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    color:#595959;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    width: 75%;
    line-height: 30px;
}




/* 개별 클래스 관련 */
@media (max-width: 800px) {
    .article {
        width:100%; 
    }
    
    #v-pills-tabContent {
    margin-left: 0 !important;
	}
}

@media (min-width:801px) and (max-width: 1150px) {
    .article {
        width:48%;
    }
}

@media (min-width: 1151px) {
    .article {
        width:32%;
    }
}

.article{
    margin-top: 30px;
    padding:8px;
    display:inline-block;
}

.imgBox{
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.creater,.classTitle, .likeAndStar, .price{
    padding-left: 5px;
}

.creater{
    font-size: 12px;
    font-weight: bold;
    color: #4f4f4f;
}

.category{
    color: #595959;
    font-size: 14px;
}

.classTitle{
	height:50px;
	overflow:hidden;
    text-overflow:ellipsis;
    
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.classTitle a{
    text-decoration: none;
    color: black;
    word-break:break-all;
}

.likeAndStar{
    font-size: 12px;
    white-space: pre;
    padding-bottom: 5px;
}

.likeAndStar span{
    color:#a8a8a8;
}

.likeAndStar i{
    font-size: 12px;
    color:#cbcbcb;    
}

.price{
    font-size: 17px;
    color: #333333;
    font-weight: bold;
}

.like{
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 25px;    
    /*color:#FF781E;*/
}

.like i{
    color: #959595;;
}

.like i:hover{
    cursor : pointer;
}