#pageHeader a{
	text-decoration: none;
	color : black;
}

h5{
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box{
    max-width: 600px;
    border: 1px solid #c2c2c2;
    background-color: #ececec;
    padding: 15px;
    margin: auto;
    margin-bottom: 30px;
}

.boxHeader{
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.box .col-12, .box .col-8{
    padding-left: 10px;
    padding-right: 10px;
}

#modiReg{
	font-size:13px;
	color:#595959;
	padding-right: 15px;
}

#modiReg i{
	margin-left:5px;
}

#modiReg:hover{
    cursor: pointer;
}

hr{
    margin-bottom: 15px;
}

.classTitle{
    background-color: white;
    padding: 20px;
    word-break: break-all;
}

.category{
    color: #595959;
    font-size: 13px;
}

.imgBox{
    width: min(50%,100px);
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgBox img:hover{
    cursor:default;
}

.box .col-8, .box .col-4{
    margin-bottom: 10px;
    color: #595959;
    font-size: 14px;
}

.box .col-4{
    text-align: right;
}

.totalPrice{
    font-weight: bold;
}

.payType{
    background-color: white;
    border: 5px solid #ececec;
    border-radius: 5px;
    width: 40%;
    height: 60px;
    text-align: center;
    padding-top: 12px;
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.payType:hover{
    cursor: pointer;
}

.payType img{
    width: 60px;
    margin: auto;
}

#next{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
    width: 100%;
    max-width:600px;
    border-radius: 7px;
    border: 0px;
    background-color: #A292FF;
    color:white;
    font-weight: bold;
}

#next:hover{
    background-color: #9381FF;
}

.swal2-icon-content{
	color:#f8bb86;
}

/* 결제 완료 화면 관련 */



#toClass, #toList{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
    width: 130px;
    border-radius: 10px;
    border: 0;
    background-color: #b8b8ff;
    color:white;
    font-size: 14px;
    font-weight:bold;
}

#toClass:hover, #toList:hover{
    background-color: #9381ff;
}





/* 결제 취소 화면 관련 */


.boxRefund .col-5, .boxRefund .col-7, .boxRefund .col-12{
	padding:10px;   
    color: #595959;
    font-size: 14px;
}

.boxRefund .col-7{
    background-color:white;
    border:1px solid #ececec;
}

#currRegCheck{
	color:#9381ff;
	font-weight:bold;
}


#checkRefundPolicy{
    color:#9381FF;    
    font-size: 14px;
    display: inline-block;
    padding-bottom: 5px;  
    border:none;
}

#checkRefundPolicy:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.refundPolicy{
	padding: 10px;
    border:1px solid #a5a5a5;
    background-color: #e5e5e580;
    color: #595959;
    font-size: 15px;
}

.refundDay{
    color: #9381FF;
    font-weight: bold;
    font-size: 15px;
}


/* 결제 취소 완료 화면 관련 */

.bi-check-circle{
	font-size:70px;
	color:#f8bb86;
	
}