
/* 공통 */

textarea:focus, input:focus, button:focus,button:active{
    outline: none !important;
    box-shadow: none !important;
}


/* 클래스 등록하기 버튼 관련 */


#pageHeader{
	position : relative;
}

#pageHeader a{
	text-decoration: none;
	color : black;
}

#toWrite{
	position : absolute;
	right : 5px;
	bottom : 20px;
}

#toWriteBtn{
	background-color : #FFBD24;
	border:0;
	border-radius : 10px;
	color : white;
	font-size : 14px;
	font-weight:bold;
	padding : 8px;
	padding-left : 17px;
	padding-right : 17px; 
	padding-top: 13px;
}

#toWriteBtn:hover{
	background-color : #ffb200;
}





/* 네비 관련 */

.container{
    position: relative;
}

#v-pills-tab{
    position: sticky;
    top: 100px;
    background-color: white;
    z-index: 5;
}

#v-pills-tab button{
    padding: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: 45px;
}

#v-pills-tab img{
    width: 35px;
}

#v-pills-tab2{
    width: 100%;
    position: sticky;
    top: 77px;
    background-color: white;
    z-index: 5;
}

#v-pills-tab2 li{
    display: block;
    width: 20%;
    height: 100%;
    padding:0;
    flex-basis: unset;
    flex-grow: unset;
}

#v-pills-tab2 a{
    text-decoration : none;
}

#v-pills-tab2 button{
    text-align: center;
    font-size: 6px;
    color : black;   
    border-radius:0px;
    background-color:white;
}

#v-pills-tab2 .active{
	border:0px;
	border-bottom: 4px solid #9381ff;
}

#v-pills-tab2 img{
    width: 100%;
}



/* 검색바 관련 */

.searchArea{
    background-color:#f4f4f4;
    margin:auto;
    margin-top:15px;
    position:relative;
    border-radius: 5px;
    height:50px;
    width:95%;
}

.searchArea i{
	
	position: absolute;
}

/* 돋보기 아이콘 */
.searchArea .bi-search{
	color: #adb5bd;
	font-size: 22px;
    left: 14px;
    top:8px;
}
/* 검색 지우기 아이콘 */
.searchDel{
	color: #adb5bd50;
	font-size: 20px;
	right:14px;
	cursor: pointer;
	top:10px;
}

.searchDel:hover{
	color: #adb5bd99;
}


#search{
    border: 0;  
    background-color:transparent;  
    color:#595959;
    position:absolute;
    left:42px;
    top: 50%;
	transform: translateY(-50%);
	width:80%;
}




/* 개별 클래스 관련 */
@media (max-width: 1000px) {
    .article {
        width:100%; 
    }
    
    #v-pills-tabContent {
    margin-left: 0 !important;
	}
}

@media (min-width:1001px) and (max-width: 1400px) {
    .article {
        width:48%;
    }
}

@media (min-width: 1401px) {
    .article {
        width:32%;
    }
}

.article{
    margin-top: 30px;
    padding:8px;
    display:inline-block;
}

.imgBox{
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.creater,.classTitle, .likeAndStar, .price,.date{
    padding-left: 5px;
}

.creater{
    font-size: 12px;
    font-weight: bold;
    color: #4f4f4f;
}

.category{
    color: #595959;
    font-size: 13px;
    font-weight:normal;
}

.classTitle{
	height:50px;
	overflow:hidden;
    text-overflow:ellipsis;
    
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


.classTitle a{
    text-decoration: none;
    color: black;
    word-break:break-all;
}

.likeAndStar{
    font-size: 11px;
    white-space: pre;
    padding-bottom: 5px;
}

.likeAndStar span{
    color:#a8a8a8;
}

.date{
    font-size: 12px;
    color:#a8a8a8;
    padding-bottom: 5px;
}


.likeAndStar i,.date i{
    font-size: 12px;
    color:#cbcbcb;    
}

.price{
    font-size: 17px;
    color: #333333;
    font-weight: bold;
}

.like{
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 25px;    
    /*color:#FF781E;*/
}

.like i{
    color: #959595;;
}

.like i:hover{
    cursor : pointer;
}

.swal2-icon.swal2-warning.swal2-icon-show .swal2-icon-content {
    color:#f8bb86;
}