@charset "UTF-8";

*{box-sizing: border-box; 
	color:black;}

.container{	
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    position: relative;
}
/* 메인 container */
.mainContent{  
	margin-top:150px;
	width: 100%;
	overflow: hidden;
}

.row{ 
    margin: 0px; padding: 0px;
}

[class *=col-]{
    margin: 0px; padding: 0px;
}

.option{
	font-size: 20px;
}


/* 제목과 본문 사이 영역 */
#headerArea{
	overflow: hidden;
	height: 60px;
}
#headerArea > div{
	float: left;
}
/* 프로필 사진 영역 */
#profileArea{
	width: 10%; 
	height: 100%;
}


/* 프로필 오른쪽 영역 */
#profileRigintArea{
	width: 90%;
	height: 100%;
}
/* 닉네임 */
#name{
	width: 100%;
	height: 50%;
}
/* 닉네임 아래 영역 */
#nicknameUnderArea{
	width: 100%;
	height: 50%;
}

/* 본문 전체 영역 */
.contentsRow{

}


