@charset "UTF-8";

*{box-sizing: border-box; 
	color:black;}

.container{	
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    position: relative;
}
/* 메인 container */
.mainContent{  
	margin-top:150px;
	width: 100%;
}

.row{ 
    margin: 0px; padding: 0px;
}







