@charset "UTF-8";

@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
	font-family: 'LeferiPoint-WhiteA';
}

#naviContainer{
	padding-left:0;
	padding-right:0;
}


#header_logo {
	max-width: 100%;
	max-height: 100px;
	padding-top:20px;
}

@media (max-width: 500px) {
    #header_logo{
    	padding-left: 10%;
    }
}

@media (min-width: 501px) {
    #header_logo{
    	padding-left: 70px;
    }
}

.navbar-toggler{
	margin-top:20px;
	margin-right:20px;
}

.navbar {
	padding-bottom:20px;
}

.dropdown-item:focus{
	background-color:transparent;
	color:#6449ff;
}

.navbar-nav{
	padding-left:70px;
}

.nav-item {
	padding: 23px;
	height:50px;
	width:140px;
	text-align:center;
}
.nav-link{
}

.wrap {
	padding: 200px;
	text-align: center;
	background: #e0e0e0;
}

/* TOOLTIP */
[data-tooltip] {
	position: relative;
}

[data-tooltip]:before, [data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	transition: all .2s ease;
	font-size: 15px;
	font-family: dotum;
	letter-spacing: -1px;
}

[data-tooltip]:before {
	content: attr(data-tooltip);
	height: 30px;
	position: absolute;
	top: -20px;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
	background: #6449ff;
	box-shadow: 0 3px 8px rgba(165, 165, 165, 0.5);
}

[data-tooltip]:after {
	content: '';
	border-left: 5px solid transparent;
	top: 2px;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffd8be;
}

[data-tooltip]:not([data-tooltip=""]):hover:before {
	visibility: visible;
	opacity: 1;
	top: -30px
}

[data-tooltip]:not([data-tooltip=""]):hover:after {
	visibility: visible;
	opacity: 1;
	top: -4px
}

/* 텍스트 효과*/

/***** Pulse *****/

.pulse a:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);}
  100% { transform: scale(1); }
 }
 
 /***** Shake *****/

.shake a:hover{ 
  animation: shake 75ms infinite;
  animation-timing-function: linear;   
}

@keyframes shake {
  0% { transform: rotate(0.5deg); }
  50% { transform: rotate(-0.5deg); }
  100% { transform: rotate(0.5deg); }
}


 