@charset "UTF-8";


.recommend_container{	
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}
/* 메인 container */
.mainContent{  
	margin-top:150px;
	width: 100%;
}
.class_type{
	height:100px;
	width:100px;
}
.catergory_text{
	text-align:center;
}

.button--telesto{
	border-radius:50px;
}
