@charset "UTF-8";

.container{
	padding-left: 10%;
    padding-right: 10%;
}

.recommend_container{	
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}
/* 메인 container */
/* 캐러셀 관련*/
.mainContent{  
	margin-top:100px;
	width: 100%;
}
/* .class_type{ */
/* 	height:100px; */
/* 	width:100px; */
/* } */
.catergory_text{
	text-align:center;
}

.button--telesto{
	border-radius:50px;
}

#carouselExampleControls{
	height:300px;
}

@media (max-width: 600px) {
    #carouselExampleControls{
    	height:200px !important;
    } 
}

.container-fluid{
	padding:0;
}

.carousel-item:nth-child(1){
	background-color:#EAF3FA;
}

.carousel-item:nth-child(2){
	background-color:#74E0C8;
}

.carousel-item:nth-child(3){
	background-color:#ffffff;
}

.carousel-item img{
	object-fit:contain;
	height:100%;
}


/* 클래스 카테고리 아이콘*/

.pb-5{
	padding-left:5%;
	padding-right:5%;
}


.catergory_text .col-3{
	text-align:center;
	border-bottom: 4px solid white;
}

.catergory_text .col-3:hover{
	border-bottom: 4px solid #9381ff;
	transform:scale(1.05);
    transition-duration: 0.5s;
}

.catergory_text img{
	object-fit:contain;
	width:60px;
}

.catergory_text p{
	font-size : 14px;
	text-decoration:none;
	color:#595959;
}

.catergory_text a{
	text-decoration:none;
	color:#595959;
}

/*추천 클래스/최신글 보기*/

.recommendTitle{
	line-height:34px;
	font-size:17px;
	font-weight:bold;
}