@charset "UTF-8";

.pNav {
	text-align:right;
	position: fixed;
	right: 20px;
	bottom: 50px;
	z-index : 100;
	max-width: 100px;
	height: 100px;
}


/*****텍스트 효과 Zoom *****/

.zoom img:hover{
  transform: scale(1.3);
  transition: all ease 500ms;
}

.chat_img{
	width:25px;
}