*{box-sizing: border-box; 
	color:black;}

div{
    border: 0;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    position: relative;
}

.mainContent{
	margin-top:150px;
}

.row{ 
    margin: 0px; padding: 0px;
}

[class *=col-]{
    margin: 0px; padding: 0px;
}

.align-items-start{
    width:100%;
    position: relative;
}

#v-pills-tab{
    position:sticky;
    top:100px;
}

#v-pills-tab>a{
    margin-top:10px;
    margin-bottom:10px;
    text-decoration: none;
    color:black;
    width:160px;
}

#v-pills-tab button{
    background-color: transparent;
    color:black;
    border-radius: 0;
    width:100%;
    text-align: left;
}

#v-pills-tab .active{
    border-bottom: 4px solid #9381ff;
}

#v-pills-tabContent{
    margin-left: 50px;

}

#pageHeader{
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
}