@charset "UTF-8";

*{box-sizing: border-box; 
	color:black;}

.container{	
    padding-left: 10%;
    padding-right: 10%;
/*     padding-bottom: 5%; */
    position: relative;
}
/* 메인 container */
.mainContent{
	margin-top:150px;
	width: 100%;
	overflow: hidden;
}

.row{ 
    margin: 0px; padding: 0px;
}

[class *=col-]{
    margin: 0px; padding: 0px;
}

/* 카테고리 */
.categoryArea{
    margin: 0 0 1rem;
}

/* 게시글 제목 */
#title{
	font-size: 24px;
	font-weight: bold;
    margin: 0 0 2rem;	
}
/* 진행(도와주세요) 텍스트 */
#progressY{
	color:green;
	font-size: 16px;
}
/* 마감(도와주세요) 텍스트 */
#progressN{
	color:red;
	font-size: 16px;
}


/* 게시글 옵션 */
#option{
	font-size: 20px;
}


/* 제목과 본문 사이 영역 --------------*/
#headerArea{
/* 	overflow: hidden; */
	height: 60px;
	position: relative;
}
#headerArea > div{
	float: left;
}

/* 프로필 사진 영역 */
#profileArea{
	width: 48px;
/* 	height: 48px; */
	margin-right: 0.75rem;
}
/* 프로필 */
.imgs{
	border-radius: 8px;
	width: 100%;
	height: 100%
}

/* 프로필 가운데 영역 */
#profileCenterArea{
	width: 65%;
	height: 100%;
}
/* 닉네임 */
#nameSpan{
	width: 100%;
	height: 50%;
}
#name{
	font-size: 14px;
    letter-spacing: -.3px;	
/* 	margin: 0 0 0.125rem; */
    font-weight: bold;
    color: #2d2d2d;    
}
/* 닉네임 아래 영역 */
#nicknameUnderArea{
	width: 100%;
	height: 50%;
    /* margin: 0.125rem 0 0; */
    font-size: 12px;
    /* line-height: 1.5; */
    letter-spacing: -.2px;    
}
/* 동록시간 , 조회 수 */
#board_reg_date, #board_viewCount{
	 color: #888;
}

/* 프로필 오른쪽 마감, 공유, 옵션 영역 */
#profileRigintArea{
	float: right !important;
	position: absolute;
    bottom: 6px;
    right: 0px;
}

/* 링크 공유 모달--------------------- */
/* 공유 아이콘 */
.share{
	cursor:pointer;
    color: #9381ff;
    position: absolute;
    right: 50px;
	top: 1px;
    font-size: 20px;
}

#smodal-body{
    height: 100px;
    padding-top: 30px;
    text-align: center;
}
#shareLink{
    width: 75%;
}
#shareLinkBtn{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #D9D9D9;
    color:white;
    font-weight: bold;
}
#shareLinkBtn:hover{
    background-color: #A6A6A6;
}
/*----------------- 링크 공유 모달---- */


/* 옵션 드롭다운------------------------- */
/* .dropdown{ */
/* } */

/* 옵션 span */
/* .dropdown-toggle{ */
/* 	float:right; */
/* 	margin-right: 4px; */
/* } */

.dropdown-menu{
	text-align: center;
}
.dropdown-toggle{
	cursor: pointer;
}
/* ---------------------옵션 드롭다운---- */


/* 본문 전체 영역 */
.contentsRow{
}
/* 본문 글 영역 */
.content > p{
	margin-top: 16px;
	margin-bottom: 44px;
}

/* placeholder 적용시키기 */
[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text)
}



/* 본문 이미지 영역------------------------------------------- */
.classImgs{
    height: 60vh;
    padding-bottom: 20px;
}

.myGallery {
	width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
}

.item1,.item2,.item3,.item4{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding:3px;
}

.item1{
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.item2:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item2:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.item3:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item3:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.item3:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.item4:nth-child(1) {
    
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item4:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.item4:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.item4:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.myGallery img {
	width: 100%;
	height:100%;
	object-fit:cover;
}

.myGallery img:hover{
    cursor: pointer;
    transform:scale(1.02);
    transition-duration: 0.5s;
}


/* 이미지 크게 보기 모달------------ */
.i_modal-content{
    background-color: transparent;
    border: 0;
}

.btn-close-white{
    font-size: 30px;
    font-weight: bold;
}

.i_modal-body{
    text-align: center;
}

.i_modal-body img{
    max-width: 80%;
    max-height: 80vh;
}


/* -------------------------------------본문 이미지 영역------ */

/* 게시글 좋아요 수, 댓글 수 영역----------------------------- */
/* 좋아요 수 span*/
.bGoodCountSpan{
	cursor:pointer;
}
/* 좋아요 아이콘 */
.boardGood{
	font-size:14px;
	color: #888;
	font-style: normal;
}
/* 좋아요 텍스트 */
.boardGoodText{
	font-size:14px;
	color: #888;
	margin-right: 12px;
	font-weight: bold;
}
/* 댓글 수 span */
.bReplyCountSpan{
}
/* 댓글 수 텍스트 */
.boardReCountText{
	font-size:14px;
	color: #888;
	margin-right: 5px;
	font-weight: bold;
}
/* 댓글 아이콘 */
.boardReCount{
	font-size:14px;
	color: #888;
	font-style: normal;
}
/* --------------------------게시글 좋아요 수, 댓글 수 영역--- */


/* 해시태그 영역 */
.hashtagArea{
    min-height: 50px;
    padding-top: 10px;
    margin-bottom: 3.25rem;    
}

/* 개별 해시태그 span */
.hashtag{
	cursor: pointer;
    padding: 0.25rem 0.875rem 0.25rem 0.75rem;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin-right: 0.5rem;
    color: #888;
}


/* 댓글 입력 영역 */
.replyInputArea{
	min-height: 60px;
}
/* 댓글 입력창 */
#replyInput{
	border:0px;
	display: inline-block;
	width: 100%;
	height: 100%;
	max-height:50px;
	
/* 	스크롤바 없애기 */
	overflow-y:scroll;
	scrollbar-width:none;
	-ms-overflow-style: none;
}
#replyInput::-webkit-scrollbar{
	display: none;
}


/* 댓글 등록 버튼 영역 */
.replyBtnArea{
	display: flex;
    align-items: center;
}
/* 댓글 등록 버튼 */
#replyBtn{
	margin: auto;
	width: 80%;
	height: 80%;
}

/* 각 댓글 전체 div영역 ------------------*/
.replyArea{
}
/* 댓글 위쪽 영역(프로필, 닉네임) */
.replyTopArea{
	height: 30px;
}
/* 댓글 프로필 영역 */
.replyProfileArea{
	display: inline-block;
	height: 30px;
	width: 30px;
}
/* 댓글 프로필 */
.replyProfile{
	object-fit:cover;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* 댓글 가운데 영역(댓글 본문 글) */
.replyMiddleArea{
	margin-left: 35px;
}


/* 댓글 아랫쪽 영역(등록시간, 좋아요 수, 답댓글 수, 옵션) */
.replybottomArea{
	margin-top: 15px;
	margin-left: 35px;
}
/* 댓글 등록시간 span */
.reply_reg_date{
	font-size:14px;
	color: #888;
	font-style: normal;
}

/* 댓글 좋아요 span */
.rGoodCountSpan{
	cursor:pointer;
}
/* 댓글 좋아요 아이콘 */
.replyGood{
	font-size:14px;
	color: #888;
	font-style: normal;
}
/* 댓글 좋아요 텍스트 */
.replyGoodText{
	font-size:14px;
	color: #888;
	margin-right: 12px;
	font-weight: bold;
}
/* 답댓글 수 span */
.rReplyCountSpan{
}
/* 답댓글 수 아이콘 */
.reply_reCount{
	font-size:14px;
	color: #888;
	font-style: normal;
}
/* 답댓글 수 텍스트 */
.reply_reCountText{
	font-size:14px;
	color: #888;
	margin-right: 5px;
	font-weight: bold;
}










/* 댓글 드롭다운 div */
.replyDropDown{
	display: inline-block;
	float:right;
	margin-right: 12px;
}
/* 댓글 옵션 */
.replyOption{
	font-size: 20px;
	float: right;
	margin-right: 4px;
	font-weight: bold;
}
/*  ----------------각 댓글 전체 div영역--*/



/* 답댓글 전체 div영역 ------------------*/
.reply_reArea{
}
/* 각 답댓글 div */
.reply_reDiv{
	margin-top: 20px;
}
/* 답댓글 위쪽 영역(프로필, 닉네임) */
.reply_reTopArea{
	height: 30px;
}
/* 답댓글 들여쓰기 기호 */
.bi-arrow-return-right{
	font-size: 15px;
	margin-left: 15px;
	margin-right:6px;
}
/* 답댓글 프로필 영역 */
.reply_reProfileArea{
	display: inline-block;
	height: 30px;
	width: 30px;
}
/* 답댓글 프로필 */
.reply_reProfile{
	object-fit:cover;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* 답댓글 가운데 영역(답댓글 본문 글) */
.reply_reMiddleArea{
	margin-left: 70px;
}
/* 답댓글 아랫쪽 영역(등록시간, 좋아요 수, 옵션) */
.reply_rebottomArea{
	margin-top: 15px;
	margin-left: 70px;
}

/* 답댓글 옵션 */
.reply_reOption{
	font-size: 20px;
	float: right;
	margin-right: 4px;
}
/*  ----------------각 답댓글 전체 div영역--*/



/* 신고하기 모달 ----------------------------*/

#rpmodalLabel{
	font-weight:bold;
}

#rpmodal-body .p-2{
	color:#595959;
}

#reportModal input[type='radio'] {
	-webkit-appearance:none;
	width:16px;
	height:16px;
	border:1px solid darkgray;
	border-radius:50%;
	outline:none;
	background:white;
}
#reportModal input[type='radio']:before {
	content:'';
	display:block;
	width:60%;
	height:60%;
	margin: 20% auto;  
	border-radius:50%;  
}
 #reportModal input[type='radio']:checked:before {
	background:#FF781E;
}

#reportModal label {
	color: #c0c0c0;
}

#reportModal input[type='radio']:checked+ label {
	color: black;
}

#rpFormSubmit{
	background-color:#FF9E5E;
}

#rpFormSubmit:hover{
	background-color:#FF781E;
}

/*  -----------------------신고하기 모달-----*/









/* 모바일 크기 */
@media (max-width:550px ) {
	/* 댓글 입력 영역 */
	.replyInputArea{
		min-height: 25px;
	}
	/* 댓글 입력창 */
	#replyInput{
		max-height:50px;
	}
	/* 댓글 등록 버튼 */
	#replyBtn{
		margin: auto;
		width: 64px;
		height: 30px;
	}

}


@media (max-width:1000px ) {
/* 	본문 이미지 영역 */
	.classImgs {
	    height: 50vh;
	    padding-bottom: 20px;
	}
	
}
@media (max-width:770px ) {
/* 	본문 이미지 영역 */
	.classImgs {
	    height: 35vh;
	    padding-bottom: 20px;
	}
}
@media (max-width:440px ) {
/* 	본문 이미지 영역 */
	.classImgs {
	    height: 30vh;
	    padding-bottom: 20px;
	}
}
@media (max-width:400px ) {
/* 	본문 이미지 영역 */
	.classImgs {
	    height: 25vh;
	    padding-bottom: 20px;
	}
}