@charset "UTF-8";


/* 세로탭 전체 div */
/* .align-items-start{ */
/*    padding-top:60px;  */
/* } */

/* 탭 메뉴 영역 */
#v-pills-tab{
   padding-top:60px; 
}

/* 탭 contents 영역 */
#v-pills-tabContent{
    width: 100%; 
   padding-top:15px;
/*    text-align: center; */
}

/* 헤더 */
#pageHeader{
   width: 950px;
   margin: auto;
}

/* 글쓰기 버튼 */
#writeBtn{
   font-size:20px;
   margin-top:27px;
   float:right;
}


/* 가로 카테고리 영역 */
#horizonCategoryArea{
   text-align: left;
   position:sticky;
    top:86px;
    z-index: 5;
    background-color: white;
        
    flex-wrap:wrap;
    display: flex;
}
#horizonCategoryArea>a{
	display: inline-block;
	text-decoration: none;
	width: 20%;
}

/* 가로 카테고리 버튼들 */
.horizonCategory{
	border: 0px;
	width: 100%;
    text-align: center;
    font-size: 6px;
    color: black;
    border-radius: 0px;
    background-color: white;
}

#horizonCategoryArea .active {
    border: 0px;
    border-bottom: 4px solid #9381ff;
}




/* 가로 카테고리 이미지 */
.horizonCategory img {
    width: 100%;
}


/* 세로 카테고리 이미지 */
#v-pills-tab img {
    width: 35px;
    vertical-align: middle;
}








/* 검색창 영역 div */
.searchArea{
	background-color: #f4f4f4;
	margin: auto;
/*     width: 90%; */
	width : 688px;
	height:50px;
	border-radius: 10px;
	position: relative;
}
/* 검색 입력창 */
.searchWord{
	width: 80%;
	/*     height: 30px; */
	border:0px;
	background-color: #f4f4f4;
	
	position: absolute;
	left:42px;
	top: 50%;
	/*요소의 높이의 반(50%) 만큼 위로 이동*/
	transform: translateY(-50%);
}


/* 돋보기 아이콘 */
.bi-search{
	color: #adb5bd;
	font-size: 22px;
	position: absolute;
    left: 14px;
    top: 8px;
}
/* 검색 지우기 아이콘 */
.bi-x-circle-fill{
	color: #adb5bd;
	font-size: 20px;
	position: absolute;
	right:14px;
    top: 10px;
	cursor: pointer;
	display: none;
}


/* 공지사항 박스 */
.notice{
/*    border: 1px solid black; */
   border-radius:15px;
/*    width:90%; */
   width:688px;
   height:200px;
   margin: auto;
   margin-top: 5%;
   overflow: hidden;
   cursor: pointer;
}

.notice>img{
	width: 100%;
	height:100%;
	object-fit:cover;
}



/* 전체보기-라디오박스 영역 div */
.allCategoryRadioDiv{
/*    text-align: left; */
/*    padding-left: 10%; */
/*    margin-top: 4%; */
/*    margin-bottom: 2%; */
   width: 688px;
   margin: auto;
   margin-top: 4%;
   margin-bottom: 2%;
   padding-left: 0px;
   padding-right: 0px;      
}

/* 전체보기-라디오박스 */
.categoryRadioBox{
}


/* -------게시글---------------------- */
/* 각 게시글 전체 div */
.boardArea{
/*    border: 1px solid red; */
   margin: auto;
   padding-left: 0px;
   padding-right: 0px; 
   width: 688px;
   cursor: pointer;
}
.boardArea div{
/*    border: 1px solid blue; */
}

/* 게시글 카테고리 영역 */
.category{
	padding-bottom: 8px;
}
/* 카테고리 span */
.gubun{
	color:#888888;
	font-size: .75rem;
	
    margin-bottom: 0.75rem;
    background-color: #fafafa;
    padding: 0.125rem 0.5rem;
    border-radius: 4px;
}

/* 게시글 제목, 본문, 사진 전체 영역 */
.boardCenterArea{
   overflow: hidden;
/*    height: 100px; */
/*    border: 1px solid gold; */
}
.boardCenterArea > div{
}

/* 왼쪽 게시글 제목, 본문, 해시태그 영역 */
.boardCenter_leftArea{
   float: left;
/*    width: 78%; */
   width: 86.8%;
   height: 100%;
}
/* 제목 영역 */
.titleArea{
	width: 100%;
/*    height: 40%; */
	padding-bottom:6px;
	position:relative;

/* 	한줄 ... 처리 */
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 마감 표시 */
.progress{
	display: inline-block;
	height: 1.25rem;
    font-size: 13px;
    font-weight:bold;
    color : red;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    position: absolute;
    top: 3px;
    margin-left: 10px;
}
/* 본문 영역 */
.contentArea{
	font-size: 14px;
	color: #888888;
	width: 100%;
/*    height: 60%; 20*/
	/* 특정 단위로 텍스트를 자르기 위한 구문 */
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 텍스트를 자를 때 원하는 단위 ex) 2줄 */
	-webkit-box-orient: vertical;
	overflow: hidden;  
}
/* 해시태그 영역 */
.hashArea{
	padding-top:10px;
	width: 100%;
}
/* 각 해시테그 span */
.hashSpan{
	font-size: 14px;
	margin-right:5px;
	color: #c5c5c5;
}


/* 오른쪽 대표 이미지 영역 */
.boardCenter_rightArea{
	float: left;
	display: flex;
	align-items: center;
	
/* 	width: 22%; */
	width: 90px;
/*    height: 100%;    */
	position: relative;
}
/* 대표 이미지 */
.profile{
	margin:auto;
   display:inline-block;
   position:absolute;
   top:0px;
   right:0px;
   height:85px;
   width:85px;

/*    border: 1px solid gold !important; */
/*    border-radius: 8px; */
}
.imgs{
   object-fit:cover;
   border-radius: 8px;
   width: 100%;
   height: 100%
}

/* 대표 이미지 없을 때 제목, 본문, 해시태그 각 영역--------- */
/* 제목2 영역 */
.titleArea2{
	padding-right:24px;
	width: 100%;
/*    height: 40%; */
	padding-bottom:6px;
	position:relative;

/* 	한줄 ... 처리 */
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 본문2 영역 */
.contentArea2{
	padding-right:24px;
	font-size: 14px;
	color: #888888;
	width: 100%;
/*    height: 60%; 20*/
	/* 특정 단위로 텍스트를 자르기 위한 구문 */
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 텍스트를 자를 때 원하는 단위 ex) 2줄 */
	-webkit-box-orient: vertical;
	overflow: hidden;  
}
/* 해시태그2 영역 */
.hashArea2{
	padding-right:24px;
	padding-top:10px;
	width: 100%;
}
/*--------- --- 대표 이미지 없을 때 제목, 본문, 해시태그 각 영역*/



/* 게시글 하단 좋아요,댓글,등록시간 전체 영역 */
.boardFooterArea{
	padding-top:16px;

}
/* 좋아요 수 span*/
.goodCountSpan{
	font-size:12px;
	color:#C5C5C5;
	margin-right: 12px;
}
/* 좋아요 아이콘 */
.bi-hand-thumbs-up-fill{
	font-size:14px;
	color:#C5C5C5;
	font-style: normal;
}
/* 댓글 수 span */
.replyCountSpan{
	font-size:12px;
	color:#C5C5C5;	
	margin-right: 5px;
}
/* 댓글 아이콘 */
.bi-chat-dots-fill{
	font-size:14px;
	color:#C5C5C5;		
}
/* 등록 시간 span */
.regDate{
	font-size:12px;
	color:#C5C5C5;	
	float: right;
	margin-right: 12px;
	padding-top: 4px;
}


/* 게시글 별 경계선 */
.boardBoundaryLine{
/*    width: 80%; */
   width:688px;
   margin: auto;
}
/* -------------------------게시글---- */




/* 미디어 쿼리 ------------------------*/
/* md 720 */
/* 가로 카테고리 메뉴 숨기기 */
@media (min-width:1101px ) {
    #horizonCategoryArea {
        display: none;
    }
    .boardArea{
    	width: 688px;
    	margin: auto;
    }
}
/* 세로 탭 숨기기 */
@media (max-width:1100px ) {
   #v-pills-tab {
        display: none;
    }
    #v-pills-tabContent{margin-left: 0px;}
/*     .container{ */
/*     padding-left: 0px; */
/*     padding-right: 0px; */
/* } */
#horizonCategoryArea{
	width: 688px;
	margin: auto;
/* 	margin-left: 58px; */
}
#pageHeader{
	width: 688px;
	margin: auto;
/* 	margin-left: 58px; */
}

/*    #pageHeader{width: 100%;} */
/*     .searchArea{width: 100%;} */
/*     .notice{width: 100%;} */
/*     .allCategoryRadioDiv{width: 100%;} */
   .boardArea{width: 688px; margin: auto;}
/*     .boardBoundaryLine{width: 100%;} */
}


@media (max-width:990px ) {
   #v-pills-tab {
        display: none;
    }
    #v-pills-tabContent{margin: 0px;}
    .container{
    padding-left: 0px;
    padding-right: 0px;
}
/*     .searchArea{width: 950px;} */
/*     .notice{width: 950px;} */
/*     .allCategoryRadioDiv{width: 950px;} */
/*    .boardArea{width: 950px;} */
/*     .boardBoundaryLine{width: 950px;} */
#horizonCategoryArea{
	margin: auto;
	width: 100%;
}
   #pageHeader{width: 100%; margin-left: 0px;}
    .searchArea{width: 100%;}
    .notice{width: 100%;}
    .allCategoryRadioDiv{width: 100%;}
   .boardArea{width: 100%;}
    .boardBoundaryLine{width: 100%;}
}

@media (max-width:770px ) {
/* 	왼쪽 제목,본문,해시태그 영역 */
	.boardCenter_leftArea{
		width: 78%;
	}
/* 	오른쪽 프로필 여역 */
	.boardCenter_rightArea{
		width: 22%;
	}

	
}

