@charset "UTF-8";

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*로그인*/
#login-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    font-family: 'Jua', sans-serif;
}

.find-email-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 370px;
  padding: 25px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.find-email-box h2 {
  padding: 0;
  color: black;
  text-align: center;
}

.find-email-box .user-box1 {
  position: relative;
  font-family: 'Jua', sans-serif;
}

.find-email-box .user-box1 input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.find{
  font-size: 15px;
  color: black;
  margin-top: 3px;
  text-decoration: none;	
  font-family: 'Jua', sans-serif;
}

.find:hover{
  color: black;
  cursor: pointer;
  font-weight: bolder;
}

.find-email-box .user-box1 label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}

.find-email-box .user-box1 input:focus ~ label,
.find-email-box .user-box1 input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
}

#submit-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border-radius: 5px;
  border: 2.5px solid #9381ff;
  font-family: 'Jua', sans-serif;
}

#submit-btn:hover {
  border: 2.5px solid #9381ff;
  background: #9381ff;
  border-radius: 5px;
  box-shadow: 0 0 5px #9381ff,
              0 0 25px #9381ff,
              0 0 50px #9381ff,
              0 0 100px #9381ff;
}

.find-email-box a span {
  position: absolute;
  display: block;
}

.find-email-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}


.find-email-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, black);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

.find-email-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}


.find-email-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

img:hover{
	cursor:pointer;
}

.form-check{
	font-family: 'Jua', sans-serif;
}


.result-email-box{
  position: relative;
  font-family: 'Jua', sans-serif;
  text-align: center;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 27px;
  display:none;
}

.result-email-box p{
	margin-top: 0;
	margin-bottom: -0.5rem;
}

#result-email{
	height:auto;
	word-break:break-all;
	border-bottom: 3px solid rebeccapurple;
	padding-bottom: 0.2rem;
}

.go-to-login{
	display:none;
	margin-top: 27px;
}