@charset "UTF-8";

*{box-sizing: border-box; }

.container{	
    padding-left: 10%;
    padding-right: 10%;
/*     padding-bottom: 5%; */
    position: relative;
}
/* 메인 container */
.mainContent{  
	margin-top:150px;
	width: 100%;
	overflow: hidden;
}

.row{ 
    margin: 0px; padding: 0px;
}

[class *=col-]{
    margin: 0px; padding: 0px;
}

/* 문의명, 처리상태 */
#title{
	font-size: 24px;
	font-weight: bold;
}

#result{
    text-align: center;
    line-height: 2rem;

}
/* 게시글 옵션 */#option{
	font-size: 20px;
}

/* 닉네임, 문의일 */
#headerArea{
	height: 30px;
    margin-top: 1rem;
}

#quiryName{
    text-align: center;
}

#inquiry-date{
    text-align: right;
    line-height: 2rem;
}

/* 컨트롤 박스 */
#control-box{
    margin-top: 5px;
    text-align: right;
}

.userBtn{
    background-color: white;
    border-radius: 5%;
    border-color: brown;

}


/* 문의내용 */
.content{
    min-height: 450px;
	margin-bottom: 0.5rem;
	padding-left:0.2rem;
	overflow: auto;
}

/* placeholder 적용시키기 */
[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text)
}

/* 답변 입력 영역 */
.resultInputArea{
    min-height: 200px;
}
/* 댓글 입력창 */
#resultInput{
	border:1px solid black;
	display: inline-block;
	width: 100%;
	min-height: 100px;
    border-radius: 5px;
    padding-left: 0.5rem;
    
	
/* 	스크롤바 없애기 */
	overflow-y:scroll;
	scrollbar-width:none;
	-ms-overflow-style: none;
}
#resultInput::-webkit-scrollbar{
	display: none;
}


/* 답변 등록 버튼 */
#resultBtn{
    background-color: white;
    border-radius: 5%;
    border-color: brown;
    display: block;
    width: 5rem;
    height: 3rem;
}


.resultOutputArea{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}


.result-title{
    font-weight: bolder;
    padding-left: 0.5rem;
}
.result-date{
    text-align: right;
    padding-right: 0.5rem;
}
.resultout{
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 10px 5px;
    border: 1px solid;
    border-radius: 3px;
}



/* 모바일 크기 */
@media (max-width:550px ) {
	/* 댓글 입력 영역 */
	.replyInputArea{
		min-height: 25px;
	}
	/* 댓글 입력창 */
	#replyInput{
		max-height:50px;
	}
	/* 댓글 등록 버튼 */
	#replyBtn{
		margin: auto;
		width: 64px;
		height: 30px;
	}

}