@charset "UTF-8";

/* 사이드탭 css */


body{
	min-height: 100vh;
}

.tab-content{
	min-width:500px;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
/*     padding-bottom: 5%; */
    position: relative;
    min-width:500px;
}

#adminHeader{
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
}


a:link{
	text-decoration:none;	
}


.tab-pane{
	z-index: 1;
	position:relative;
}

/* 가로탭 */
/* .nav-link.active { */
/* 	border-bottom: 4px solid #9381ff; */
/* } */


#vDetail summary{
    text-decoration: none;
    color:black;
    width:160px;
    padding-left:8px;


}

/* 가로탭 관련 */
#v-pills-tab2 li {
	padding: 0;
}

#v-pills-tab2 a {
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	width: 100%;
}

#v-pills-tab2 button {
	text-align: center;
	padding: 0;
	margin-bottom: 10px;
	padding-bottom: 8px;
	font-size: 14px;
	background-color: transparent;
	color: black;
	border-radius: 0;
	width: 100%;
}

/* #v-pills-tab2 .active { */
/* 	margin: auto; */
/* 	margin-bottom: 10px; */
/* 	width: 80%; */
/* 	border-bottom: 4px solid #9381ff; */
/* } */

#hDetail{
	 z-index: 999;
	 position:relative;
	 margin-top:0px !important;
}

.tabs2 {
	margin-bottom: 10px;
}

#v-pills-tab{
	padding-top:20px;
	margin-right:16px;
}


.tab-content{
	width:100%;
/* 	text-align:center; */
/*     margin-left: 50px; */
}


*{box-sizing: border-box; 
	color:black;}

details summary::marker {
	font-size: 0;
}

li::marker {
	font-size: 0;
}



/* summary { */
/* 	padding-left: 16px; */
/* 	padding-top: 16px; */
/* 	padding-bottom: 16px; */
/* } */


#v-pills-report1-tab2{
	margin-top:10px !important;
}


details{
    padding-left:8px;
    margin-top:10px;
    margin-bottom:10px;
    	
}


.reLi{
height:30px;
line-height:30px;
font-size:14px;
color:#666666;}



div{
    border: 0;
}

/* .adminContainer{ */
/*     padding-left: 10%; */
/*     padding-right: 10%; */
/*     padding-bottom: 5%; */
/*     position: relative; */
/* } */

.mainContent{
	margin-top:100px;
}

.row{ 
    margin: 0px; padding: 0px;
}

[class *=col-]{
    margin: 0px; padding: 0px;
}

.align-items-start{
    width:100%;
   /* text-align:center; */
    position: relative;
    padding-top:10px;
}

#v-pills-tab{
    position:sticky;
    top:100px;
}

#v-pills-tab a{
    margin-top:10px;
    margin-bottom:10px;
    text-decoration: none;
    color:black;
    width:160px;
}

.firstDepthTab{
    margin-top:10px !important;
    margin-bottom:10px !important;	
}

#v-pills-tab button{
    background-color: transparent;
    color:black;
    border-radius: 0;
    width:100%;
    text-align: left;
}

#v-pills-tab .active:not(.sub){
    border-bottom: 4px solid #9381ff;
}

#v-pills-tab .active div{
   border-bottom: 4px solid #9381ff;
   width:75px;
}


.sub{
    margin-top:5px;
    margin-bottom:10px;
}

.pageWrapper{
	text-align:center;
	margin-top:15px
}


.subMenu{
	position:absolue;
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

#hDetail summary{
	 margin-bottom:10px !important;
}

#hDetail button{
	width:80%;
	margin:auto;
	margin-bottom: 10px; 
}
