
/* 첫번째 탭 : adminMemberHeader */

#adminMemberList{
	padding:0px;
/*  	min-width:582px; */
}


.adminContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    position: relative;
}

/* .mainContent{ */
/*     padding-left: 15% !important; */
/*     padding-right: 15% !important; */
/* 	margin-top:100px !important; */
/* 	width: 100%; */
/* 	overflow: hidden; */
/* } */


#adminMemberTitle{
	text-align:left;
	margin-top : 10px;
	margin-bottom : 15px;
	margin-left:10px;
	font-size:20px;
	font-weight:bolder;
	color:#666666;
}

/* 카테고리 콤보박스 */
.selectA{
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;  
    width: 60px;
    font-size: 0.7em;
/*     padding: 0.8em 0.5em; */
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
   background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
   background-size: 10px;
   border: 1px solid #999;
/*     border-radius: 4px; */
    font-weight: bolder;
    color:#666666;
    
}

.selectB{
	width: 70px !important;
}



.optionA {
/*   background: black; */
/*   color: #fff; */
   font-weight: bolder;
    font-size: 1em;
}

.selectB{
	  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;  
    width: 60px;
    font-size: 13px;
/*     padding: 0.8em 0.5em; */
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
/*    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 100% 50%; */
   border: 1px solid #999;
/*     border-radius: 4px; */
    font-weight: bolder;
    color:#666666;
    
}

.selectA{
	font-size: 0.7em;
	COLOR:#666666;
/* 	HEIGHT:25.5PX; */
}

.selectWrapper{
	background:url('arr_pink.gif') no-repeat 97% 50%/15px auto;
}

#MemberSearchBox{
	text-align:right;
	margin-bottom : 15px;
	position:relative;
}

#memberListHeaderContainer{
	text-align:center;
/* 	margin-left:10px; */
/* 	margin-right:10px; */
	background-color:#ffeedd;
	height : 40px;
	position : relative;
	padding-left:10px;
}

.memberListHeader{
	font-size:0.8em;
	line-height : 40px;
	font-weight:bold;
	color:#666666;
	height:40px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-left:7px !important;
	
}

#memberListContainer{
	text-align:center;
/* 	margin-left:10px; */
	height : 40px;
	position : relative;
	padding-left:10px;
	border-bottom:1px solid #eeeeee;
}


.memberListName{
	font-size:0.8em;
	line-height : 40px;
	height:40px;
	color:#666666;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-left:7px !important;
}




#v-pills-adminMember{
	width:90%;
	margin:auto;

}


#adminMemberSearch{
	width:25%;
	font-size:0.7em;
	color:black;
}



#pagination{
	margin-top : 20px;
	font-size:0.9em;
	color:#666666;
}

#memberSearchBtn{
	font-size:15px;
	background-color: #A6A6A6;
	color:white;
	height:28px;
	width:70px;
	border:1px solid white;
	border-radius:8px;
}

#memberSearchBtn:hover{
	 background-color:#D9D9D9;
}

#adminMemberListWrapper{
	padding:0px;
}

/* 페이지네이션 */

.pageWrapper{
/* 	border:1px solid black; */
	margin:auto;
	float:left;
	width:100%;
/* 	border-radius:15px; */
	text-align:center;
}

.page{
	padding:auto;
	font-size:0px;
}

.page a:link, .page a:visited {
	color : #666666;
	
}

.page div{
/* 	float:left; */
	display:inline-block;
	width: 30px;
	height: 30px;
	line-height:30px;
	font-size:15px !important;
	margin:0px;
}

.movePage{
	width:50px !important;
	margin-left:15px !important;
	margin-right:15px !important;
	font-size : 10px !important;
}

.movePage:not(.none):hover{
	border-bottom:3px solid #9381ff !important;
}

#memberPage div:not(.none):hover{
	cursor:pointer;
}

.memberSearchCount{
	display:inline-block;

	
	bottom:-10px;
	font-size:0.9em;
	color:#666666;
}

#PCount{
	position:absolute;
	left:20px;
	text-align:left;
}




.nowPage{
	background-color:#eeeeee;
	border-radius:100%;
/* 	font-weight:bold; */
/* 	color:white; */
}
/* #v-pills-tabContents{ */
/*     margin-left: 30px; */

/* } */