details summary::marker {
	font-size: 0;
}

li::marker {
	font-size: 0;
}

summary{margin-bottom:10px;}

li{
height:50px;
line-height:50px;
font-size:14px;
color:#666666;}


#adminHeader{
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
}

.tab-content{
	width:100%;
	margin:auto;
	text-align:center;
}

.listHeader{
	font-size:0.8em;
	line-height : 40px;
	font-weight:bold;
	color:#666666;
	height:40px;
	
}

.listName{
	font-size:0.8em;
	line-height : 40px;
	height:40px;
	color:#666666;
}

#adminMember{
	text-align:left;
	margin-top : 10px;
	margin-bottom : 15px;
	margin-left:10px
}

#listHeaderContainer{
	text-align:center;
	margin-left:10px;
	background-color:#ffd8de;
	height : 40px;
	position : relative;
	padding-left:10px;
}


#v-pills-adminMember{
	width:85%;
	margin:auto;

}

#v-pills-tab{
	padding-top:60px;
}

#adminMember{
	font-size:20px;
	font-weight:bolder;
	color:#666666;
}

#listContainer{
	text-align:center;
	margin-left:10px;
	height : 40px;
	position : relative;
	padding-left:10px;
	border-bottom:1px solid #eeeeee;
}

#adminMemberSearch{
	width:25%;
	font-size:13px;
	color:black;
}

#searchSelect{
	font-size:13px;
	color:#666666;
	height:25.5px;
}

#searchBox{
	text-align:right;
	margin-bottom : 15px;
}

#adminMemberList{
	padding:0px;

}

#pagination{
	margin-top : 20px;
	font-size:0.9em;
	color:#666666;
}

#searchvalueBtn{
	font-size:15px;
	background-color:#b8b8ff;
	color:white;
	height:26px;
	border:0px;
	border-radius:8px;
}





/* #v-pills-tabContents{ */
/*     margin-left: 30px; */

/* } */