<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Class">

	<select id="nextSeq" resultType="Integer">select class_seq.nextval from dual</select>
	
	<insert id="insert">
		insert into class values (#{class_seq}, #{category1}, #{category2}, #{title}, #{price}, 
		#{zipcode}, #{address1},#{address2}, #{class_date}, #{creater_id}, #{creater_info}, default, default, default, default)
	</insert>
	
	<select id="selectBySeq" resultType="kh.spring.DTO.ClassDTO">
		select * from class where class_seq=#{class_seq}
	</select>
	
	<select id="selectBySeqNN" resultType="map">
		select class.*,nickname,profile_img from class join member on (creater_id = email) where class_seq=#{class_seq}
	</select>
	
	<select id="selectByCtgPageNN" resultType="map">
		select * from
			(select rownum as num, sorted.* from
				(select class.*,nickname from class join member on (creater_id = email) 
				<if test="category1!='전체'">
					where category1=#{category1} 
				</if>
				order by reg_date desc)sorted )
		where num between ${startNum} and ${endNum}
	</select>
	
	<select id="selectBySearch" resultType="map">
		select * from
			(select rownum as num, sorted.* from
				(select class.*,nickname from class join member on (creater_id = email) 
				where title like '%'||#{searchContents}||'%'
				<if test="category1!='전체'">
					and category1=#{category1} 
				</if>
				order by reg_date desc)sorted )
		where num between ${startNum} and ${endNum}
	</select>
	
	
	<select id="getCtgTotalCount" resultType="Integer">
		select count(*) from class
		<if test="category1!='전체'">
			where category1=#{category1} 
		</if>
	</select>
	
	<select id="getCtgSearchTotalCount" resultType="Integer">
		select count(*) from class where title like '%'||#{searchContents}||'%'
		<if test="category1!='전체'">
			and category1=#{category1} 
		</if>
	</select>
	
	<update id="addLike">
		update class set like_count=like_count+1 where class_seq=#{class_seq}
	</update>
	
	<update id="subLike">
		update class set like_count=like_count-1 where class_seq=#{class_seq}
	</update>
	
	<update id="newStars">
		update class set star_count=${star_count} where class_seq=#{class_seq}
	</update>
	
	<delete id="delete">
		delete from class where class_seq=#{class_seq}
	</delete>
	
	<update id="setStateR">
		update class set state=1 where class_seq=#{class_seq}
	</update>
	
	
	<!-- 찜 관련 -->
	
	<select id="likeOrNot" resultType="Integer">
		select count(*) from good where email=#{email} and parent_seq=#{parent_seq}
	</select>
	
	<insert id="like">
		insert into good values (like_seq.nextval,#{email},#{parent_seq})
	</insert>
	
	<delete id="likeCancel">
		delete from good where email=#{email} and parent_seq=#{parent_seq}
	</delete>
	
	<select id="countLikes" resultType="Integer">
		select count(*) from good where parent_seq=#{parent_seq}
	</select>
	
	<select id="myLikeList" resultType="String">
		select parent_seq from good where email=#{email}
	</select>
	
	
	<!-- 구매 관련 -->
	<select id="regOrNot" resultType="Integer">
		select count(*) from class_RegStds where std_id=#{std_id} and parent_seq=#{parent_seq}
	</select>
	
	<insert id="reg">
		insert into class_RegStds values (regStds_seq.nextval,#{std_id},sysdate,#{type},#{parent_seq})
	</insert>
	
	<select id="countStds" resultType="Integer">
		select count(*) from class_RegStds where parent_seq=#{parent_seq}
	</select>
	
	
	<!-- 신고 관련 -->
	<select id="reportOrNot" resultType="Integer">
		select count(*) from report where reporter=#{reporter} and parent_seq=#{parent_seq}
	</select>
	
	<insert id="report">
		insert into report values (report_seq.nextval, #{contents}, #{reason}, 
			#{writer}, #{reporter}, sysdate, #{parent_seq})
	</insert>
</mapper>