<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Community">
 
 	<!-- 게시글 삽입(생성) -->
	<insert id="insert">
		insert into community 
			values(
					${board_seq}.nextval
					,#{title}
					,#{writer}
					,#{contents}
					,default<!-- write_date -->
					,default<!-- like_count -->
					,default<!-- view_count -->
					,#{hash_tag}
					,default<!-- progress -->
					,default<!--state -->
				 )
		
		<selectKey order="AFTER" keyProperty="board_seq" resultType="string">
			select ${board_seq}.currval from dual
		</selectKey>
	</insert>




	<!-- 커뮤니티 메인 인피니스 스크롤 시 카테고리 별 페이지에 해당하는 게시글 -->
	<select id="selectByPage" resultType="kh.spring.DTO.CommunityDTO">
		
		select * from 
						(select row_number() over(order by write_date desc) line, community.* 
						from community

						<trim prefix="where" prefixOverrides="and">
<!-- 							<if test="category != null and !category.equals('')"> -->
<!-- 								substr(board_seq,1,1) = #{category} -->
<!-- 							</if> -->
							
							<!-- 검색이 아닌 경우, -->
							<if test='searchContent ==null or searchContent.equals("")'>
								substr(board_seq,1,1) like '%'||#{category}
							</if>
							
							<!-- 커뮤니티 메인 검색일 때, -->
							<if test='searchContent !=null and !searchContent.equals("") and isHash.equals("N")'>
								substr(board_seq,1,1) like '%'||#{category} and title like '%'||#{searchContent}||'%'
								or 
								substr(board_seq,1,1) like '%'||#{category} and writer like '%'||#{searchContent}||'%'
								or 
								substr(board_seq,1,1) like '%'||#{category} and contents like '%'||#{searchContent}||'%'
							</if>
							
							<!-- detailView 해시태그 클릭 검색일 때,  -->
							<if test='searchContent !=null and !searchContent.equals("") and isHash.equals("Y")'>
								hash_tag like '%'||#{searchContent}||'%'
							</if>
							
						</trim>
						)
				where line between #{start} and #{end}
					and state != '2'
		
	</select>
	

	
	<!-- 커뮤니티 메인에서 인피니스 스크롤 시 사용되는 카테고리 별(한 페이지당 10) 전체 페이지 -->
	<select id="totalPage" resultType="int">
		
		select ceil(count(*)/10) from community 
		
<!-- 						<trim prefix="where" prefixOverrides="and"> -->
						where 
							
							<!-- 검색이 아닌 경우, -->
							<if test='searchContent ==null or searchContent.equals("")'>
								substr(board_seq,1,1) like '%'||#{category} and state != '2'
							</if>
							
							<!-- 커뮤니티 메인 검색일 때, -->
							<if test='searchContent !=null and !searchContent.equals("") and isHash.equals("N")'>
								substr(board_seq,1,1) like '%'||#{category} and title like '%'||#{searchContent}||'%' and state != '2'
								or 
								substr(board_seq,1,1) like '%'||#{category} and writer like '%'||#{searchContent}||'%' and state != '2'
								or 
								substr(board_seq,1,1) like '%'||#{category} and contents like '%'||#{searchContent}||'%' and state != '2'
							</if>
							<!-- detailView 해시태그 클릭 검색일 때,  -->
							<if test='searchContent !=null and !searchContent.equals("") and isHash.equals("Y")'>
								hash_tag like '%'||#{searchContent}||'%' and state != '2'
							</if>
							
<!-- 						</trim> -->
	</select>
	
	
<!-- 	게시글 정보 가져오기 by seq -->
	<select id="selectBySeq" resultType="kh.spring.DTO.CommunityDTO">
		select * from community where board_seq = #{value}
	</select>



	<!-- 게시글 조회 수 up -->
	<update id="viewCountUp">
		update community set view_count = view_count+1 where board_seq = #{value}
	</update>
	


	<!-- 나중에 member-mapper.xml로 옮길 것 -->
	<!-- 해당 id 멤버 정보 get-->
	<select id="selectById" resultType="kh.spring.DTO.MemberDTO">
		select * from member where email = #{value}
	</select>


	<!-- 게시글 수정 -->
	<update id="update">
		update community 
				set title = #{title}
							,contents = #{contents}
							,hash_tag = #{hash_tag}
				where board_seq = #{board_seq}
						
	</update>


	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from community where board_seq = #{value}
	</delete>

	<!-- 게시글 삭제로 상태변경 -->
<!-- 	<update id="del"> -->
<!-- 		update community set state = '2' where board_seq = #{seq} -->
<!-- 	</update> -->



	<!-- 도와주세요 진행여부(마감) 변경 -->
	<update id="progressUpdate">
		update community set progress = #{progress} where board_seq = #{seq}
	</update>


	<!-- 해당 게시글 상태(신고) 변경 -->
	<update id="boardStateModi">
		update community set state = #{state} where board_seq = #{seq}
	</update>


	<!-- 나중에 report-mapper로 이동시켜서 통합하 것!!!!!!!!!!!!!!!!!!!!!!1 -->
	<!-- 신고 테이블 정보 삽입 -->
<!-- 	<insert id="report"> -->
<!-- 		insert into report values (report_seq.nextval, #{contents}, #{reason},  -->
<!-- 			#{writer}, #{reporter}, sysdate, #{parent_seq}) -->
<!-- 	</insert> -->


	<!-- 게시글 좋아요 Up&Dwon -->
	<update id="boardLike">
		update community 
				set like_count = 
						<choose>
							<when test='likeUpDown.equals("1")'>
								like_count+1
							</when>
							<otherwise>
								like_count-1
							</otherwise>
						</choose>
				where board_seq = #{seq}
						
		<selectKey order="AFTER" keyProperty="like_count" resultType="int">
			select like_count from community where board_seq = #{seq}
		</selectKey>		
						
	</update>


	
	<!-- 더미 데이터 만들기 -->
	<insert id="dumy">
		insert into community values('d'||daily_seq.nextval
									, '일상'||#{i}
									, 'writer'||#{i}
									, 'contents'||#{i}
									, default
									, default
									, default
									, ''
									, default
									, default
									)
						
	
	</insert>
	
 </mapper>