<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Community">
 
	<insert id="insert">
		insert into community 
			values(
					${board_seq}.nextval
					,#{title}
					,#{writer}
					,#{contents}
					,default<!-- write_date -->
					,default<!-- like_count -->
					,default<!-- view_count -->
					,#{hash_tag}
					,default<!-- progress -->
					,default<!--state -->
				 )
		
		<selectKey order="AFTER" keyProperty="board_seq" resultType="string">
			select ${board_seq}.currval from dual
		</selectKey>
	</insert>
	
	
	<select id="selectByPage" resultType="kh.spring.DTO.CommunityDTO">
		
		select * from 
						(select row_number() over(order by write_date desc) line, community.* 
						from community

						<trim prefix="where" prefixOverrides="and">
							<if test="category != null and !category.equals('')">
								substr(board_seq,1,1) = #{category}
							</if>
							<if test="searchContent != null and !searchContent.equals('')">
								and title like '%'||#{searchContent}||'%'
								and writer like '%'||#{searchContent}||'%'
								and contents like '%'||#{searchContent}||'%'
							</if>
						</trim>

						
						
						)
				where line between #{start} and #{end}
		
	</select>
	
	<select id="totalPage" resultType="int">
		
		select ceil(count(*)/10) from community 
						<if test="category != null and !category.equals('')">
						 	where substr(board_seq,1,1) = #{category}
						</if>
	</select>
	
	
	
	
	<!-- 더미 데이터 만들기 -->
	<insert id="dumy">
		insert into community values('h'||help_seq.nextval
									, '도와주세요'||#{value}
									, 'writer'||#{value}
									, 'contents'||#{value}
									, default
									, default
									, default
									, ''
									, default
									, default
									)
						
	
	</insert>
	
 </mapper>