<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Img">

	<!-- 이미지 파일 정보 삽입 -->
	<insert id="insert">
		insert into img 
			values(
					${img_seq}.nextval
					,#{ori_name}
					,#{sys_name}
					<choose>
						<when test="img_desc == null or img_desc == '' ">
							,default
						</when>
						<otherwise>
							,#{img_desc}
						</otherwise>
					</choose>
					,#{parent_seq}
				 )
	</insert> 
	
	<select id="selectByPSeq" resultType="kh.spring.DTO.ImgDTO">
		select * from img where parent_seq=#{parent_seq} order by img_seq
	</select>
	
	<!-- parentSeq로 메인 이미지 1장 출력 (클래스) -->
	<select id="selectMByPSeq" resultType="kh.spring.DTO.ImgDTO">
		select * from img where img_seq like 'ma1%'and parent_seq=#{parent_seq}
	</select>
	
	<!-- 커뮤니티 게시글 대표 이미지 -->
	<select id="selectCoProfileByPar" resultType="kh.spring.DTO.ImgDTO">
		select * from(select * from img where parent_seq = #{value} order by img_seq) where rownum = 1
	</select>
	
	
	<!-- 커뮤니티 기존 이미지 파일 삭제 -->
	<delete id="delBySysname" parameterType="java.util.HashMap">
		delete from img 
		where parent_seq = #{parent_seq}
				and sys_name in
		<choose>
			<when test="sys_name == null">
				('')
			</when>
			<otherwise>
		        <foreach collection="sys_name" item="sys_name" separator=","  open="(" close=")">
		        	#{sys_name}
		        </foreach>
			</otherwise>
		</choose>

	</delete>
	
	
	<!-- parentSeq에 해당하는 이미지 목록 삭제하기 -->
	<delete id="deleteByPSeq">
		delete from img where parent_seq = #{value}
	</delete>


	<!-- 커뮤니티에서 해당 이메일로 작성한 게시글에 대한 이미지 리스트 -->
	<select id="comImgListByEmail" resultType="kh.spring.DTO.ImgDTO">
		select * 
		from img 
		where parent_seq in(
							select board_seq 
							from community 
							where writer = #{email}
							)
	</select>

	
	<!-- 해당 이메일에 대한 게시글들 이미지 목록 삭제하기	 -->
	<delete id="delByEmail">
		delete from img
			where parent_seq in(
								select board_seq 
								from community 
								where writer = #{email}
								)	
	</delete>
	
	
	
	
	
</mapper>