<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Login">
 
 	 <select id="pwCheck" resultType="boolean">
 		select count(*) from member where email=#{email} and password=#{pw} and login_type='D'
 	</select>
 	
 	<select id="isExistEmail" resultType="boolean">
 		select count(*) from member where name=#{name} and phone=#{phone}
 	</select>
 	
 	<select id="getMemberDTO" resultType="kh.spring.DTO.MemberDTO">
 		select * from member where email=#{email} and password=#{pw}
 	</select> 	
 	
 	<select id="loginLimit" resultType="boolean">
 		select count(*) from member where email=#{email} and login_type='B'
 	</select> 
 	
 	<select id="getDTO" resultType="kh.spring.DTO.MemberDTO">
 		select * from member where email=#{value}
 	</select> 	
 	
 	<select id="getEmail" resultType="kh.spring.DTO.MemberDTO">
 		select email from member where name=#{name} and phone=#{phone}
 	</select> 
 	
 	<select id="accountCheckBeforeSendCode" resultType="boolean">
 		select count(*) from member where name=#{name} and email=#{email}
 	</select> 	
 
 	<update id="resetPw" parameterType="java.util.HashMap">
		update member set password=#{pw} where email=#{email}
	</update>
	
	<insert id="loginHistory">
		insert into login_log values(login_seq.nextval, #{value}, default)
	</insert>
	 
	 
	<!-- SNS 로그인 --> 
	 
 	<select id="snsEmailCheck" resultType="boolean">
		select count(*) from member where email=#{email} and login_type in
	    <if test='type == "kakao"'>
			('K', 'D')		
		</if>	
	    <if test='type == "google"'>
			('G', 'D')	
		</if>	
 	</select>

 	<select id="getMemberDTObySNS" resultType="kh.spring.DTO.MemberDTO">
 		select * from member where email=#{value}
 	</select>  
	 
 
 </mapper>