<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">

	<!-- id로 회원정보 불러오기 -->
	<select id="select" resultType="kh.spring.DTO.MemberDTO">
		select * from member where email = #{value}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="delete">
  		delete from member where email = #{value}
  	</delete>
	
	<!-- 연락처, 닉네임만 수정 -->
	<insert id="updateInfo">
  		update member set phone = #{phone}, nickname = #{nickname} where email = #{email}
  	</insert>
  	
  	<!-- 프로필 이미지 수정 -->
	<insert id="updateImage">
  		update member set profile_img = #{profile_img} where email = #{email}
  	</insert>
  	
  	<!-- 프로필 이미지 삭제 -->
	<insert id="deleteImage">
  		update member set profile_img = null where email = #{email}
  	</insert>
  	
  	<!-- 내가 구매한 클래스 -->
  	<select id="buyClass" resultType="String">
  		select parent_seq from class_RegStds where std_id = #{value} order by reg_date desc
  	</select>

  	<!-- 내가 구매한 클래스 정보 보기 -->
  	<select id="buyClassList" resultType="kh.spring.DTO.Class1DTO">
  		select * from class where class_seq = #{value}
  	</select>
  	
  	<!-- 클래스 구매일 -->
  	<select id="buyClassDate" resultType="String">
  		select reg_date from class_RegStds where std_id = #{value} order by reg_date desc
  	</select>
  	
  	<!-- 내가 등록한 클래스 -->
  	<select id="regClass" resultType="kh.spring.DTO.Class1DTO">
  		select * from class where creater_id = #{value}
  	</select>
  	
  	<!-- 내가 작성한 리뷰 -->
  	<select id="classReview" resultType="kh.spring.DTO.Review1DTO">
  		select * from class_review where std_id = #{value} order by review_seq desc
  	</select>
  	
<!--   	내가 작성한 리뷰의 클래스 정보 보기 -->
<!--   	<select id="classReview" resultType="kh.spring.DTO.Class1DTO"> -->
<!--   		select * from class where class_seq = #{value} -->
<!--   	</select> -->
  	
</mapper>