<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Reply">


	<!-- 댓글·대댓글  상태 변경 -->
	<update id="replyStateModi">
		update reply set state = #{state} where reply_seq = #{seq}
	</update>
	
	<!-- 댓글 등록 -->
	<insert id="replyReg">
		insert into reply values(
									${reply_seq}.nextval
									,#{writer}
									,#{contents}
									,default
									,default
									,default
									,#{parent_seq}
									,#{board_seq}
								)
		<selectKey order="AFTER" keyProperty="reply_seq" resultType="string">
			select ${reply_seq}.currval from dual
		</selectKey>
	</insert>
	
	<!-- 댓글 등록 후 가져가는 댓글 정보 -->
	<select id="getReply" resultType="map">
	
		select *
		from
		(select r.* 
				,(select count(*) from reply rr where rr.parent_seq = r.reply_seq) rr_count
		from reply r) r 
						join member m 
										on(r.writer = m.email and r.reply_seq = #{seq})
	</select>
	
	<!-- 댓글 리스트  -->
	<select id="replyList" resultType="map">
		select r.*
				, m.*
				, g.parent_seq as good_parent_seq
    			,(select count(*) from reply rr where rr.parent_seq = r.reply_seq) rr_count
		from	reply r join member m 
							on(r.writer = m.email and substr(r.reply_seq, 0,2) != 'rr' and r.board_seq = #{board_seq}) 
								left join good g 
									on (r.reply_seq = g.parent_seq)
		order by write_date desc
	</select>
	

	<!-- 댓글,대댓글 좋아요 Up&Dwon -->
	<update id="replyLike">
		update reply 
				set like_count = 
						<choose>
							<when test='likeUpDown.equals("1")'>
								like_count+1
							</when>
							<otherwise>
								like_count-1
							</otherwise>
						</choose>
				where reply_seq = #{seq}
						
		<selectKey order="AFTER" keyProperty="like_count" resultType="int">
			select like_count from reply where reply_seq = #{seq}
		</selectKey>		
						
	</update>
</mapper>