<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Signup">
 
 	 <select id="isExistEmail" resultType="boolean">
 		select count(*) from member where email=#{value}
 	</select>
 
 	<select id="isNickname" resultType="boolean">
 		select count(*) from member where nickname=#{value}
 	</select>
 	
 	<insert id="insertLog">
		insert into mailAuth_log values(#{code}, #{email})
	</insert>
	
	<select id="mailAuth" resultType="boolean">
 		select count(*) from Mailauth_Log where code=#{code} and email=#{email}
 	</select>
 	
 	
 	<insert id="insertMember">
		insert into member values(#{email}, #{name}, #{nickname}, #{password}, #{phone}, null, default, default, default)
	</insert>
	
	<!-- 카카오 로그인 계정 정보 입력 -->
 	<insert id="insertData">
 		insert into member values(#{email}, #{name}, #{nickname}, '000000000212312312', #{phone}, null, default, default, #{login_type})
 	</insert>
 
	 
 
 
 </mapper>