<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="MA">
 
 	<insert id="insertLog">
		insert into mailAuth_log values(#{code}, #{email})
	</insert>
	
	<select id="mailAuth" resultType="boolean">
 		select count(*) from Mailauth_Log where code=#{code} and email=#{email}
 	</select> 
 
 
 </mapper>