<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report">

	<!-- admin-mapper.xml -->
	
	<!--신고수 -->
	<select id="countReportById" resultType="int">
		select count(*) from report where writer=#{value}
	</select>

	

</mapper>